<template>
    <div>
        <div v-if="msg.length" v-for="(index, item) in arr">{{index}}</div>
        {{msg}}
        <div v-html="someHTML"></div>
           </div>
</template>

<script>
    export default {
        name: "HelloWorld",
        props: ['test'],
        data() {
            return {
                arr: [1,2],
                msg: 'Hello world',
                unused: true,
                someHTML: '<p>asd</p>'
            }
        }
    }
</script>

<style scoped>

</style>