<template>
    <div>
        <button @click="baseFunction(1,4)">12314141</button>
        <div class="calc-slider__info">
            ${{ result }}<br>
            Step {{ sliderActive }} <span>of {{questionsCurrent.length}}</span><br>
        </div>
        <div class='slider js-slider'>
            <div class="slider__body" v-bind:style='{left: sliderOffsetLeft + "px"}'>
                <div class="slider__slide js-slide" v-for="(item, questionIndex) in questionsCurrent">
                    <div class="question-info">
                        <div class="question-name">
                            {{item.name}} type = {{item.qtype}}
                        </div>
                        <small class="question-description">
                            {{item.description}}
                        </small>
                    </div>
                    <div class="cards">
                        <template v-for="(option, answerIndex) in item.options">
                            <div class="card" style="width: 18rem;"
                                 v-if="typeof questionsCurrent[questionIndex] !== 'undefined'"
                                 @click="cardClick(questionIndex,answerIndex)"
                                 v-bind:class="[{ activeCard: questionsCurrent[questionIndex].answers[answerIndex]
                                 === true },{ disabledCard: leftScore[questionIndex].score[answerIndex]
                                 === 'error' }]"
                                 :key="answerIndex"
                            >
                                <img class="card-img-top" src="https://picsum.photos/600/300/?image=25"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{option.name}}</h5>
                                    <p class="card-text">{{option.description}}</p>
                                    {{ option.price.cost }}
                                    <span v-if="option.price.relatedValue !== ''"
                                          :key="`${answerIndex}span`"
                                    >({{ option.price.relatedValue }})</span>= {{option.price.value }}__ {{
                                    option.price.type }} {{ option.price.modifier }} <br>{{
                                    option.tags }}
                                    <div class="card-cost">
                                        <template v-if="!item.answers[answerIndex]">
                                            <template v-if="calcPrice(questionIndex,answerIndex) === 'error'">
                                                <span class="card-cost__error">Select a service from step {{leftScore[questionIndex]
                                                    .index[answerIndex]+1}}</span>
                                            </template>
                                            <template v-else-if="calcPrice(questionIndex,answerIndex) === 'errorBase'">
                                                <span class="card-cost__error">Select at least one service</span>
                                            </template>
                                            <template v-else>
                                                <template v-if="leftScore[questionIndex].score[answerIndex]> 0">
                                                    It costs an extra ${{leftScore[questionIndex].score[answerIndex]}}
                                                </template>
                                                <template v-else>
                                                    <span class="card-cost__save">
                                                    You will save ${{Math.abs(leftScore[questionIndex].score[answerIndex])}}
                                                        </span>
                                                </template>
                                            </template>
                                        </template>
                                        <template v-else>Added</template>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="calc-slider__buttons">
            <button type="button" class="btn btn-primary"
                    :disabled="sliderActive===1"
                    @click="changeSlide(--sliderActive)"
            >Prev
            </button>
            <button type="button" class="btn btn-primary"
                    :disabled="sliderActive===questionsCurrent.length"
                    @click="changeSlide(++sliderActive)"
            >Next
            </button>
        </div>
        <br><br><br>

        values : {{values}}<br>
        leftscore : {{leftScore}}<br>
        base {{ base }} <br>
        result {{ result }} <br>
        tags {{ tags }} <br>
        <div
                v-for="item in questions"
                :key="item.id"
        >
            Id{{ item.id }}: {{ item.name }} q{{item.id}} = {{item.value}}<br>
            <template v-for="(option, indexOfAnswer) in item.options">
                <input
                        :id="'answersCheckbox'+indexOfAnswer"
                        :key="`${indexOfAnswer}input`"
                        v-model="item.answers[indexOfAnswer]"
                        type="checkbox"
                        :value="indexOfAnswer"
                >
                <label
                        :key="`${indexOfAnswer}label`"
                        :for="'answersCheckbox'+indexOfAnswer"
                >
                    {{ option.price.cost }}
                </label>
                <span v-if="option.price.relatedValue !== ''"
                      :key="`${indexOfAnswer}span`"
                >({{ option.price.relatedValue }})</span> __ cost
                {{option.price.value }}__ {{ option.price.modifier }} {{ option.price.type }} {{ option.tags }}
                <br :key="`${indexOfAnswer}br`">
            </template>
            <br :key="`${item.id}br2`">
        </div>
        <br>
    </div>
</template>

<script>
import Vue from 'vue';
import questions from '../data';

export default {
    name: 'PriceCalculator',
    data() {
        return {
            questions,
            values: [],
            leftScore: [],
            sliderActive: 1,
            sliderOffsetLeft: 0,
            sliderOffsetStep: 0,
        };
    },
    computed: {
        tags() {
            const tempTags = [];
            this.questions.forEach((question) => {
                for (let i = 0, length = question.answers.length; i < length; i++) {
                    if (question.answers[i] === true) {
                        question.options[i].tags.forEach((tag) => {
                            if (!tempTags.includes(tag)) {
                                tempTags.push(tag);
                            }
                        });
                    }
                }
            });
            return tempTags;
        },
        questionsCurrent() {
            const tempQuestions = [];
            const questionsId = [];
            this.questions.forEach((question) => {
                question.showIf.forEach((showIfTag) => {
                    if ((this.tags.includes(showIfTag)) && (!questionsId.includes(question.id))) {
                        let addElement = true;
                        question.hideIf.forEach((hideIfTag) => {
                            if (this.tags.includes(hideIfTag)) {
                                addElement = false;
                            }
                        });
                        if (addElement) {
                            tempQuestions.push(question);
                            questionsId.push(question.id);
                        }
                    }
                });
                if (question.showIf.length === 0) { // if there are no tags always show a question
                    tempQuestions.push(question);
                }
            });
            return tempQuestions;
        },
        base() {
            let tempBase = 0;
            this.questionsCurrent.forEach((question, questionIndex) => {
                question.value = 0;
                for (let i = 0, length = question.options.length; i < length; i++) {
                    const priceShortcut = question.options[i].price;
                    const cost = priceShortcut.cost;
                    let value = 0;
                    const coefficient = parseInt(cost);
                    value += coefficient;
                    if (cost.indexOf('q') !== -1) {
                        const relatedQuestion = this.questionsCurrent.filter((obj) => obj.id === parseInt(cost.substring(cost.indexOf('q') + 1, cost.length)));
                        const relatedQuestionValue = relatedQuestion[0].value;
                        priceShortcut.relatedValue = Number(relatedQuestionValue);
                        if (cost.includes('+')) {
                            value += relatedQuestionValue;
                        } else if (cost.includes('*')) {
                            value *= relatedQuestionValue;
                        }
                    }
                    priceShortcut.value = value;
                    this.values[questionIndex][i] = value
                    if (question.answers[i] === true) {
                        question.value += value;
                        if (priceShortcut.modifier === 'base') {
                            if (priceShortcut.type === '+') {
                                tempBase += this.values[questionIndex][i];
                            } else if (priceShortcut.type === '*') {
                                tempBase *= this.values[questionIndex][i];
                                priceShortcut.value = value;
                            }
                        }
                    }
                }
            });
            return tempBase;
        },
        result() {
            let tempResult = this.base;
            this.questionsCurrent.forEach((question, questionIndex) => {
                for (let i = 0, length = question.options.length; i < length; i++) {
                    const currentQuestionModifier = question.options[i].price.modifier;
                    const priceShortcut = question.options[i].price;
                    if (question.answers[i] === true) {
                        if (currentQuestionModifier === 'result') {
                            if (priceShortcut.type === '+') {
                                tempResult += this.values[questionIndex][i];
                            } else if (priceShortcut.type === '*') {
                                tempResult *= this.values[questionIndex][i];
                            }
                        }
                    }
                }
            });
            return tempResult;
        },
    },
    created() {
        for (let i = 0, length = this.questions.length; i < length; i++) {
            this.values[i] = [];
            this.leftScore[i] = {
                score: [],
                index: [],
            };
        }
    },
    mounted() {
        this.initSlider();
        window.addEventListener('resize', () => {
            this.initSlider();
            this.openSlide(this.sliderActive);
        });
    },
    methods: {
        initSlider() {
            const sliderBody = this.$el.querySelector('.js-slider');
            this.sliderOffsetStep = sliderBody.clientWidth;
        },
        openSlide(number) {
            this.sliderActive = number;
            this.sliderOffsetLeft = -(this.sliderActive * this.sliderOffsetStep - this.sliderOffsetStep);
        },
        changeSlide(number) {
            if (number > 0 && number <= this.questionsCurrent.length) {
                this.openSlide(this.sliderActive);
            }
        },
        calcPrice(questionIndex, answerIndex) {
            const newResult = this.baseFunction(questionIndex, answerIndex);
            if (typeof newResult === 'string') {
                this.leftScore[questionIndex].score[answerIndex] = newResult;
                return newResult;
            }
            this.leftScore[questionIndex].score[answerIndex] = newResult - this.result;
            return this.leftScore[questionIndex].score[answerIndex];
        },
        baseFunction(questionIndex, answerIndex) {
            const tempQuestions = JSON.parse(JSON.stringify(this.questionsCurrent));
            let tempBase = 0;
            for (let i = 0; i < tempQuestions.length; i++) {
                tempQuestions[i].value = 0;
            }

            if (tempQuestions[questionIndex].qtype === 'single') {
                for (let i = 0; i < tempQuestions[questionIndex].answers.length; i++) {
                    tempQuestions[questionIndex].answers[i] = false;
                }
            }
            tempQuestions[questionIndex].answers[answerIndex] = true;
            tempQuestions.forEach((question, questionNumber) => {
                for (let i = 0, length = question.options.length; i < length; i++) {
                    const priceShortcut = question.options[i].price;
                    const cost = priceShortcut.cost;
                    let value = 0;
                    const coefficient = parseInt(cost);
                    value += coefficient;
                    this.leftScore[questionNumber].index[i] = null;
                    if (cost.indexOf('q') !== -1) {
                        const relatedIndex = this.questionsCurrent.findIndex((element) => element.id === parseInt(cost.substring(cost.indexOf('q') + 1, cost.length)));
                        if ((typeof this.questionsCurrent[questionNumber] !== 'undefined' && this.questionsCurrent[relatedIndex].value === 0 && this.questionsCurrent[questionNumber].answers[i] === true && cost.includes('*'))) {
                            const tempArray = this.questionsCurrent[questionNumber].answers;
                            tempArray[i] = false;
                            Vue.set(this.questionsCurrent[questionNumber], 'answers', [...tempArray]);
                        }
                        this.leftScore[questionNumber].index[i] = relatedIndex;
                        let newRelatedValue = 0;
                        for (let j = 0; j < this.values[relatedIndex].length; j++) {
                            if (tempQuestions[relatedIndex].answers[j]) {
                                newRelatedValue += this.values[relatedIndex][j];
                            }
                        }
                        const relatedQuestionValue = newRelatedValue;
                        priceShortcut.relatedValue = Number(relatedQuestionValue);
                        if (cost.includes('+')) {
                            value += relatedQuestionValue;
                        } else if (cost.includes('*')) {
                            value *= relatedQuestionValue;
                        }
                    }
                    priceShortcut.value = value;
                    if (question.answers[i] === true) {
                        question.value += value;
                        this.values[questionNumber][i] = value;
                        if (priceShortcut.modifier === 'base') {
                            if (priceShortcut.type === '+') {
                                tempBase += this.values[questionNumber][i];
                            } else if (priceShortcut.type === '*') {
                                tempBase *= this.values[questionNumber][i];
                                if (typeof this.questionsCurrent[questionIndex] !== 'undefined' && this.questionsCurrent[questionIndex].answers[i] === true && this.base === 0) {
                                    const tempArray = this.questionsCurrent[questionIndex].answers;
                                    tempArray[i] = false;
                                    Vue.set(this.questionsCurrent[questionIndex], 'answers', [...tempArray]);
                                }
                            }
                        }
                    }
                }
            });
            return this.resultFunction(tempQuestions, tempBase, questionIndex, answerIndex);
        },
        resultFunction(tempQuestions, tempBase, QI, AI) {
            let tempResult = tempBase;
            tempQuestions.forEach((question, questionIndex) => {
                for (let i = 0, length = question.options.length; i < length; i++) {
                    const currentQuestionModifier = question.options[i].price.modifier;
                    const priceShortcut = question.options[i].price;
                    if (question.answers[i] === true) {
                        if (currentQuestionModifier === 'result') {
                            if (priceShortcut.type === '+') {
                                tempResult += this.values[questionIndex][i];
                            } else if (priceShortcut.type === '*') {
                                tempResult *= this.values[questionIndex][i];
                                if (typeof this.questionsCurrent[questionIndex] !== 'undefined' && this.questionsCurrent[questionIndex].answers[i] === true && this.result === 0) {
                                    const tempArray = this.questionsCurrent[questionIndex].answers;
                                    tempArray[i] = false;
                                    Vue.set(this.questionsCurrent[questionIndex], 'answers', [...tempArray]);
                                }
                            }
                        }
                    }
                }
            });
            this.clearUnusedAnswers();
            if (tempResult === 0 && tempResult === 0 && this.base === 0) {
                return 'errorBase';
            }
            if (tempResult === 0 || tempResult - this.result === 0 || this.values[QI][AI] === 0) {
                return 'error';
            }
            return tempResult;
        },
        clearUnusedAnswers() {
            this.questions.forEach((question, questionNumber) => {
                let clearObject = true;
                for (let j = 0; j < question.showIf.length; j++) { //delete without tags
                    if (this.tags.includes(question.showIf[j])) {
                        clearObject = false;
                    }
                }
                if (question.showIf.length === 0) {
                    clearObject = false;
                }
                if (clearObject && question.answers.includes(true) && typeof this.questions[questionNumber] !== 'undefined') {
                    const falseAnswers = this.questions[questionNumber].answers;
                    for (let k = 0; k < question.answers.length; k++) {
                        falseAnswers[k] = false;
                    }
                    Vue.set(this.questions[questionNumber], 'answers', [...falseAnswers]);
                }
            });
        },
        cardClick(questionNumber, answerNumber) {
            if (this.leftScore[questionNumber].score[answerNumber] !== 'error' && this.leftScore[questionNumber].score[answerNumber] !== 'errorBase') {
                const tempArray = this.questionsCurrent[questionNumber].answers;
                if (this.questionsCurrent[questionNumber].qtype === 'single') {
                    tempArray.fill(false, 0, answerNumber);
                    tempArray.fill(false, answerNumber + 1, tempArray.length);
                    tempArray[answerNumber] = !tempArray[answerNumber];
                } else if (this.questionsCurrent[questionNumber].qtype === 'multiple') {
                    tempArray[answerNumber] = !tempArray[answerNumber];
                }
                Vue.set(this.questionsCurrent[questionNumber], 'answers', [...tempArray])
            }
        },
    },
};
</script>

<style scoped>
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    cursor: pointer;
    margin: 10px;
    float: left;
    color: #0062cc;
    text-align: center;
}

.activeCard {
    outline: 2px solid #0062cc;
}

.disabledCard {
    outline: 2px solid red;
}

.card-title {
    height: 30px;
}

.card-text {
    height: 50px;
}

.card-cost {
    margin-top: 20px;
    font-weight: bold;
    height: 30px;
}

.card-cost__error {
    color: red;
}

.card-cost__save {
    color: green;
}

.calc-slider__buttons {
    width: 300px;
    margin: 0 auto;
}

>>> .calc-slider__buttons button {
    width: 140px;
    margin: 5px;
    float: left;
}

.calc-slider__info {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    color: #0062cc;
    font-weight: bold;
}

.question-info {
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.question-name {
    font-size: 20px;
    font-weight: bold;
}

.slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slider__body {
    min-width: auto;
    display: flex;
    position: relative;
    align-items: stretch;
    transition: all 0.5s ease;
}

.slider__slide {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    flex: 1 100%;
}
</style>
