@charset "UTF-8";

@font-face {
  font-family: "iconfont";
  src: url(/fonts/iconfont.eot?4fbaa96a4cc88ced978f6e4b4983377c);
  /* IE9 Compat Modes */
  src: url(/fonts/iconfont.eot?4fbaa96a4cc88ced978f6e4b4983377c) format("embedded-opentype"), url(/fonts/iconfont.woff?0f7584c483c0503cadcbd3e94a490938) format("woff"), url(/fonts/iconfont.ttf?804b0a3108fd5eb4a09bdb1b1012072f) format("truetype"), url(/fonts/iconfont.svg?3179c8773e66928308066428d77d6a28) format("svg");
  /* Legacy iOS */
}

.icon {
  font-style: normal;
  font-weight: 400;
}

.icon.icon-link-copy-10:before {
  font-family: "iconfont";
  content: "\EA01";
}

.icon.icon-link-copy-11:before {
  font-family: "iconfont";
  content: "\EA02";
}

.icon.icon-link-copy-12:before {
  font-family: "iconfont";
  content: "\EA03";
}

.icon.icon-link-copy-13:before {
  font-family: "iconfont";
  content: "\EA04";
}

.icon.icon-link-copy-14:before {
  font-family: "iconfont";
  content: "\EA05";
}

.icon.icon-link-copy-15:before {
  font-family: "iconfont";
  content: "\EA06";
}

.icon.icon-link-copy-16:before {
  font-family: "iconfont";
  content: "\EA07";
}

.icon.icon-link-copy-17:before {
  font-family: "iconfont";
  content: "\EA08";
}

.icon.icon-link-copy-2:before {
  font-family: "iconfont";
  content: "\EA09";
}

.icon.icon-link-copy-3:before {
  font-family: "iconfont";
  content: "\EA0A";
}

.icon.icon-link-copy-4:before {
  font-family: "iconfont";
  content: "\EA0B";
}

.icon.icon-link-copy-5:before {
  font-family: "iconfont";
  content: "\EA0C";
}

.icon.icon-link-copy-6:before {
  font-family: "iconfont";
  content: "\EA0D";
}

.icon.icon-link-copy-7:before {
  font-family: "iconfont";
  content: "\EA0E";
}

.icon.icon-link-copy-8:before {
  font-family: "iconfont";
  content: "\EA0F";
}

.icon.icon-link-copy-9:before {
  font-family: "iconfont";
  content: "\EA10";
}

.icon.icon-link-copy:before {
  font-family: "iconfont";
  content: "\EA11";
}

.icon.icon-link:before {
  font-family: "iconfont";
  content: "\EA12";
}

.icon.icon-link_2:before {
  font-family: "iconfont";
  content: "\EA13";
}

.icon.icon-up:before {
  font-family: "iconfont";
  content: "\EA14";
}

.icon.icon:before {
  font-family: "iconfont";
  content: "\EA15";
}

.icon.icon_2:before {
  font-family: "iconfont";
  content: "\EA16";
}

